body {
    background-color: #F1F2EB;
    margin: 0;
}

.topbar {
    display: flex;
    margin:0;
    padding:0;
    max-width: 100%;
    height: 10%;
    /* border: 3px solid black; */
    justify-content: space-between;
    background-color:#536162;
}

.topbar-item {
    color:#E5E7E6;
    display: block;
    height:100%;
    width:25%;
    border: 1px solid black;
}

.topbar-item span {
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    font-size: 2vw;
    text-align: center;
    /* border: 1px solid red; */
    flex-grow: 1;
}

.topbar-item:hover {
    background-color:darkblue;
}

.maincontent {
    color: #4A4A48;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 90%;
    /* border: 1px solid red; */
}

.maincontent .orderhistory {
    color:black;
    background-color: white;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid black;
}

.maincontent h1 {
    padding-top:1rem;
    margin-bottom:0;
    text-align: center;
    font-size: 3vw;
}

.maincontent .allorders {
    list-style-type:none;
    color:black;
    padding:0;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:1rem;
    width:95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
}

.maincontent .order {
    padding: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
    height: 10%;
    width: 100%;
    border-bottom: 1px solid black;
    
    /* border: 1px solid blue; */
}

.maincontent .moreinfo {
    text-transform: capitalize;
}

.maincontent .inventory {
    color:black;
    background-color: white;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid black;
}

.maincontent .inventory .allitems {
    list-style-type:none;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding:0;
    border: 1px solid black;
}

.maincontent .inventory .allitems .item {
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    display:flex;
    border-bottom: 1px solid black;
}

.maincontent .inventory .allitems .item .itemname{
    flex: 1;
}

.maincontent .inventory .allitems .item {
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

#selected {
    color:#8AC6D0;
    background-color:slategray;
}